.logo {
  height: 44px;
}

ion-content {
  --background: linear-gradient(87deg, #ffffff 0, #abbaab 100%) !important;
}

.header {
  background: black;
}

.icon {
  color: white;

}

.card {
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  min-width: 0 !important;
  word-wrap: break-word !important;
  border: 1px solid rgba(0, 0, 0, .05) !important;
  border-radius: .375rem !important;
  background-color: #fff !important;
  background-clip: border-box !important;



}

.card-body {
  padding: 1.5rem;
  flex: 1 1 auto;
}

.bg-gradient1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('https://imagens.canaltech.com.br/101419.167063-Como-usar-o-Google-Maps.jpg') no-repeat center center / cover !important;
  // width: 328px;
  height: 146px;
  // background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important;
}

.bg-gradient2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('http://f.i.uol.com.br/folha/ilustrada/images/16034228.jpeg') no-repeat center center / cover !important;
  // width: 328px;
  height: 146px;
}

.bg-gradient3 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../assets/star.jpg') no-repeat center center / cover !important;
  // width: 328px;
  height: 146px;
}

.cinemafont {
  color: #fff;
  font-size: 48px;

}