<ion-header class="header">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="md-arrow-back" class="icon" (click)="pop()"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img src="../../../assets/logo.png" class="logo"></ion-img>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ios-home" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <!-- Logo -->
  <div class="container">
    <div class="mt-5">
      <div class="ion-text-center display-4" style=""> Escolha uma Opção</div>
    </div>
    <div class="row">
      <div class="col-md">
        <ion-card class=" card bg-gradient1" (click)="goToLocalizacao()">
          <ion-card-header>
            <ion-card-title class="cinemafont">
              <div class="ion-text-center" style="text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7) !important;"> Ver
                Localização dos Cinemas </div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
      <div class="col-sm">
        <ion-card class="card bg-gradient2" (click)="goCinemaPage()">
          <ion-card-header>
            <ion-card-title class="cinemafont">
              <div class="ion-text-center" style="text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7) !important;"> Ver Lista de
                Cinemas</div>
            </ion-card-title>
          </ion-card-header>
        </ion-card>
      </div>
    </div>
  </div>

</ion-content>