<ion-header class="header">
  <ion-toolbar color="white">
    <ion-img src="../../assets/logo.png" class="logo"></ion-img>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <ion-card-header>
          <ion-card-subtitle class="text-primary">Clique em um cinema no mapa<br>para mais informações</ion-card-subtitle>
          <!-- <ion-card-subtitle class="subtitulo">Praça Shopping Rio Grande</ion-card-subtitle> -->
        </ion-card-header>
        <div #map id="map"></div>
      </div>
      <div class="col-md-6">
        <div class="cardMap mt-2">
          <!-- <ion-card>
            <ion-card-header>
              <ion-card-title class="text-primary">movies2watch</ion-card-title>
              <ion-card-subtitle class="subtitulo">Find movies in local cinemas</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content class="content1">
              <div class="row">
                <div class="col">
                  <span> &nbsp;
                  Descubra quais filmes estão em cartaz nos cinemas da região. </span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  
                </div>
              </div>
            </ion-card-content>
          </ion-card> -->
          <ion-card>
            <ion-card-header>
              <ion-card-title class="text-primary">Sobre</ion-card-title>
              <!-- <ion-card-subtitle class="subtitulo"> subtitle </ion-card-subtitle> -->
            </ion-card-header>
            <ion-card-content class="content2">
              <div class="row">
                <div class="col">
                    <span><i class="fas fa-phone" style="color: white"></i>
                      <br>Aplicativo para a disciplina de Tópicos Avançados em Sistemas para Internet.
                      <br>
                      <br> Desenvolvido por Marlon R. C. Franco
                      <br>
                      <br> Engenharia de Computação
                      <br> Centro de Ciências Computacionais - C3
                      <br> Universidade Federal do Rio Grande - FURG
                      <br>
                      <br>Rio Grande/RS, Brasil, 2019.
                      <br>
                    </span>
                    <a href="https://github.com/okode/movies-app.git">Baseado no projeto de @okode</a>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <a href="https://github.com/marlonrcfranco/movies2watch.git"><ion-icon name="logo-github" style="zoom:4.0;"></ion-icon></a>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
        </div>
      </div>
    </div>
  </div>
</ion-content>