<ion-header class="header">
  <ion-toolbar color="white">
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="md-arrow-back" class="icon" (click)="pop()"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-img src="../../../assets/logo.png" class="logo"></ion-img>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="ios-home" class="icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content padding>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Ação</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of actionMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Aventura</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of adventureMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Animação</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of animationMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Comedia</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of comediaMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Crime</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of crimeMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Documentário</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of docMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Drama</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of dramaMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Familia</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of familyMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Fantasia</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of fantasyMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">História</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of historyMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Terror</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of terrorMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Musica</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of musicMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Misterio</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of misteryMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Romance</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of romanceMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Sci-Fi</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of scifiMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">TV</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of tvMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Thriller</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of thrillerMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Guerra</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of warMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div>
    <ion-item lines="none">
      <p slote="start" class="generos">Faroeste</p>
      <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let movie of forestMovieList">
        <div *ngIf="movie.id">
          <div>
            <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" (click)="goMoveDetailsPage(movie.id)" />
          </div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


  <!-- <div class="movie-poster-card">
    <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}"
       *ngFor="let movie of movieList"
      (click)="goMoveDetailsPage(movie.id)" />
  </div> -->



</ion-content>