<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-img src="../../../assets/icon.png" class="logo" (click)="goHome()"></ion-img> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngIf="cinema">
      <ion-card-header>
        <ion-card-title class="text-primary">{{cinema.nome }}</ion-card-title>
        <ion-card-subtitle class="subtitulo">{{cinema.loc }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="content1">
        <div class="row">
          <div class="col">
            <span class="endereco"><i class="fas fa-map-marker-alt" style="color: white"></i>{{cinema.end }} </span>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span class="endereco"><i class="fas fa-phone" style="color: white"></i>{{cinema.tel }}</span>
          </div>
        </div>
        <div class="row">
          <ion-chip color="secondary" style="background: white">
            <!-- <ion-label style="color:black" (click)="goEmCartazCinesystem()">Acessar filmes em cartaz &nbsp;<i class="fas fa-sign-in-alt"></i> -->
            <ion-label style="color:black">Inteira: {{cinema.inteira }} | Meia-Entrada: {{cinema.meia }}<i class="fas fa-sign-in-alt"></i>
            </ion-label>
          </ion-chip>
        </div>
      </ion-card-content>
    </ion-card>
    
    <ion-list>
      <!-- <ion-list-header>Gêneros</ion-list-header> -->
      <ion-item>
        <ion-label>Gênero</ion-label>
        <ion-select (ionChange)="trataGenero($event)" value="upcoming" okText="Ok" cancelText="Voltar">
          <ion-select-option value="upcoming">Lançamentos</ion-select-option>
          <ion-select-option value="acao">Ação</ion-select-option>
          <ion-select-option value="aventura">Aventura</ion-select-option>
          <ion-select-option value="romance">Romance</ion-select-option>
          <ion-select-option value="suspense">Suspense</ion-select-option>
          <ion-select-option value="terror">Terror</ion-select-option>
          <ion-select-option value="musical">Musical</ion-select-option>
          <ion-select-option value="animacao">Animação</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

  <h1 *ngIf="movies && segment == 'upcoming'">Lançamentos</h1>
  <h1 *ngIf="movies && segment == 'acao'">Ação</h1>
  <h1 *ngIf="movies && segment == 'aventura'">Aventura</h1>
  <h1 *ngIf="movies && segment == 'romance'">Romance</h1>
  <h1 *ngIf="movies && segment == 'suspense'">Suspense</h1>
  <h1 *ngIf="movies && segment == 'terror'">Terror</h1>
  <h1 *ngIf="movies && segment == 'musical'">Musical</h1>
  <h1 *ngIf="movies && segment == 'animacao'">Animação</h1>

  <div class="movies-flex" *ngIf="movies">
    <div class="movie" *ngFor="let movie of movies" (click)="onMovieDetail(movie.id)">
      <div class="poster">
        <img *ngIf="movie.poster_path" class="poster" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
        <img *ngIf="movie.poster_path" class="poster-effect" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
      </div>
      <div class="title">{{ movie.title }}</div>
      <div class="year">{{ movie.release_date | date:'yyyy' }}</div>
      <div class="vote"><ion-icon name="star"></ion-icon><b>{{ movie.vote_average }}</b>/10</div>
    </div>
  </div>
  
  <div class="content-fullscreen-message" *ngIf="movies && movies.length == 0">
    Não foram encontrados filmes.
  </div>

  <ion-button *ngIf="movies && movies.length > 0 && page < 5" expand="full" size="large" fill="clear" (click)="onNextPage()">Ver mais</ion-button>

</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <div class="tabs">
      <div class="tab" [ngClass]="{ 'active' : segment == 'home' }" (click)="goHome()">
        <ion-icon name="home"></ion-icon>
        <div class="label">Home</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'generos' }" (click)="onTabSelected('generos')">
        <ion-icon name="star"></ion-icon>
        <div class="label">Gêneros</div>
      </div>
      <div class="tab" [ngClass]="{ 'active' : segment == 'upcoming' }" (click)="onTabSelected('upcoming')">
        <ion-icon name="calendar"></ion-icon>
        <div class="label">Lançamentos</div>
      </div>
    </div>
  </ion-toolbar>
</ion-footer> -->