<ion-content class="full-overlay">
  <div padding-horizontal text-center class="animated fadeInDown">
    <div class="logo">
      <!-- <img src="../../assets/letreiro.png" class="mt-3" style="width: 418px;"> -->
      <img src="../../assets/logo.png" class="mt-3" style="width: 418px;">
    </div>
  </div>
  <!-- <div padding-horizontal text-center class="animated zoomIn delay-2">
    <div class="conteudo-centro">
      <img src="../../assets/gatenho.png" class="mt-1">
    </div>
  </div> -->
  <div padding-horizontal text-center class="animated zoomIn delay-2">
    <div class="conteudo-centro">
      <p class="lead text-muted homeText animated zoomIn delay-5">
        Find movies in local cinemas.
      </p>
      <ion-button color="tertiary animated flip delay-10" (click)="goToCinemasPage()">Acessar &nbsp;<i
          class="fas fa-sign-in-alt"></i></ion-button>
    </div>
  </div>
</ion-content>